In [2]:
# criando uma lista em python
idades = [13, 34, 42, 25, 47]
idades

[13, 34, 42, 25, 47]

In [3]:
print(idades)

[13, 34, 42, 25, 47]

In [4]:
# usando o .append para lançar valores dentro da lista
idades.append(50)

In [5]:
print(idades)

[13, 34, 42, 25, 47, 50]

In [6]:
# usando a função .remove para remover um valor específico(passado como parâmetro) dentro da lista
idades.remove(42)
idades

[13, 34, 25, 47, 50]

In [7]:
# usando a função .extend para inserir uma lista de valores no final da lista original
idades.extend([59, 44, 20])
idades

[13, 34, 25, 47, 50, 59, 44, 20]

In [8]:
idades.extend([18, 55, 42])
idades

[13, 34, 25, 47, 50, 59, 44, 20, 18, 55, 42]

In [9]:
# a função .insert lança valores em índices específicos(passados como parâmetro)
idades.insert(2, 23)
print(idades)

[13, 34, 23, 25, 47, 50, 59, 44, 20, 18, 55, 42]

In [10]:
# imprimindo os itens da lista passada dentro de um loop de iteração
for idade in idades:
    print(idade)

13
34
23
25
47
50
59
44
20
18
55
42

In [11]:
idades.remove(50)

In [12]:
idades

[13, 34, 23, 25, 47, 59, 44, 20, 18, 55, 42]

In [13]:
idades.append(50)
idades

[13, 34, 23, 25, 47, 59, 44, 20, 18, 55, 42, 50]

In [14]:
# imprimindo uma string antes de cada elemento da lista
for elemento in idades:
    print("recebi o elemento", elemento)

recebi o elemento 13
recebi o elemento 34
recebi o elemento 23
recebi o elemento 25
recebi o elemento 47
recebi o elemento 59
recebi o elemento 44
recebi o elemento 20
recebi o elemento 18
recebi o elemento 55
recebi o elemento 42
recebi o elemento 50

In [15]:
# passando um iterador dentro do loop, utilizando o conceito de list comprehension e armazenando em uma variável
idades_ano_que_vem = [(idade + 1)for idade in idades if idade > 20]
print(idades_ano_que_vem)

[35, 24, 26, 48, 60, 45, 56, 43, 51]

In [16]:
print (idades)

[13, 34, 23, 25, 47, 59, 44, 20, 18, 55, 42, 50]

In [17]:
print (idades_ano_que_vem)

[35, 24, 26, 48, 60, 45, 56, 43, 51]

In [18]:
# criando a função de iteração, depois passando ela dentro de uma list comprehension 
def prox_ano(idade):
    return idade + 1
    
[prox_ano(idade) for idade in idades if idade > 21]

[35, 24, 26, 48, 60, 45, 56, 43, 51]

In [19]:
def faz_processamento_de_visualizacao(lista = None):
    if lista == None:
        lista = list()
    print(len(lista))
    print(lista)
    lista.append(13)

In [20]:
faz_processamento_de_visualizacao()

0
[]

In [21]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
0
[]
0
[]
0
[]

# Objetos próprios

In [22]:
# criando uma classe e suas respectivas funções
class ContaCorrente:
    
    def __init__(self, codigo):
        self.codigo = codigo
        self.saldo = 0
        
    def deposita(self, valor):
        self.saldo += valor
        
    def __str__(self):
        return f"[>>codigo {self.codigo} Saldo {self.saldo}<<]"

In [23]:
# instanciando a classe
conta_do_gu = ContaCorrente(15)
print(conta_do_gu)

[>>codigo 15 Saldo 0<<]

In [24]:
# passando a função deposita da classe ContaCorrente
conta_do_gu.deposita(500)
print(conta_do_gu)

[>>codigo 15 Saldo 500<<]

In [25]:
# instanciando a conta da dani
conta_da_dani = ContaCorrente(47685)
conta_da_dani.deposita(1000)
print(conta_da_dani)

[>>codigo 47685 Saldo 1000<<]

In [26]:
# passando os objetos dentro de uma lista, armazenando em uma variável e imprimindo dentro de um loop for
contas = [conta_do_gu, conta_da_dani]
for conta in contas:
    print(conta)

[>>codigo 15 Saldo 500<<]
[>>codigo 47685 Saldo 1000<<]

In [27]:
contas = [conta_do_gu, conta_da_dani, conta_do_gu]

In [28]:
print(contas[0])

[>>codigo 15 Saldo 500<<]

In [29]:
conta_do_gu.deposita(100)
print(conta_do_gu)

[>>codigo 15 Saldo 600<<]

In [30]:
# provando que o objeto repetido dentro da lista vai herdar as características do original e os valores posteriormente adiquiridos
print(contas[2])

[>>codigo 15 Saldo 600<<]

In [31]:
conta_do_gu.deposita(1500)
print(contas[0])

[>>codigo 15 Saldo 2100<<]

In [32]:
# definindo a função deposita_para_todas() com um loop for ralizando a iteração dos objetos
def deposita_para_todas(contas):
    for conta in contas:
        conta.deposita(100)
        
contas = [conta_do_gu, conta_da_dani]        
print(contas[0], contas[1])       
deposita_para_todas(contas)
print(contas[0], contas[1])

[>>codigo 15 Saldo 2100<<] [>>codigo 47685 Saldo 1000<<]
[>>codigo 15 Saldo 2200<<] [>>codigo 47685 Saldo 1100<<]

In [33]:
contas.insert(0, 76)
print(contas[0], contas[1], contas[2])

76 [>>codigo 15 Saldo 2200<<] [>>codigo 47685 Saldo 1100<<]

In [34]:
deposita_para_todas(contas)
print(contas[0], contas[1])

AttributeError: 'int' object has no attribute 'deposita'

In [35]:
conta_do_gu = ContaCorrente(15)
conta_do_gu.deposita(500)
conta_da_dani = ContaCorrente(12345)
conta_da_dani.deposita(1000)

contas = (conta_do_gu, conta_da_dani)

In [36]:
for conta in contas:
    print(conta)

[>>codigo 15 Saldo 500<<]
[>>codigo 12345 Saldo 1000<<]

In [37]:
#provando que as tuplas sao imutáveis, porém seus objetos continuam sendo mutáveis
contas[0].deposita(300)
for conta in contas:
    print(conta)

[>>codigo 15 Saldo 800<<]
[>>codigo 12345 Saldo 1000<<]

# Herança e polimorfismo

In [38]:
class Conta:
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return f"[>>codigo {self._codigo} Saldo {self._saldo}<<]"

In [39]:
print(Conta(88))

[>>codigo 88 Saldo 0<<]

In [40]:
# Classe ContaCorrente recebe hernaça da classe Conta, passada como parâmetro da classe ContaCorrente
class ContaCorrente(Conta):
    
    def passa_o_mes(self):
        self._saldo -= 2
        
class ContaPoupanca(Conta):
    
    def passa_o_mes(self):
        self._saldo *= 1.01
        self._saldo -= 3

In [41]:
# Criando instâncias da classe ContaCorrente
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>>codigo 16 Saldo 998<<]

In [42]:
# Criando instâncias da classe ContaCorrente
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>>codigo 17 Saldo 1007.0<<]

In [43]:
# Aplicando a função passa_o_mes nas instâncias da classe ContaCorrente
conta16 = ContaCorrente(16)
conta16.deposita(1000)
onta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]

for conta in contas:
    conta.passa_o_mes()
    print(conta)

[>>codigo 16 Saldo 998<<]
[>>codigo 17 Saldo 2024.07<<]

# Arrays e Numpy

evitaremos usar arrays, usaremos no lugar, a biblioteca numpy para trabalho numérico.

In [44]:
import array as arr

numeros = arr.array('d', [1, 3.5])
print(numeros)

array('d', [1.0, 3.5])

In [45]:
numeros = numeros + 3
print(numeros)

TypeError: can only append array (not "int") to array

In [46]:
pip install numpy

Requirement already satisfied: numpy in c:\users\gusta\anaconda3\lib\site-packages (1.20.3)
Note: you may need to restart the kernel to use updated packages.

In [47]:
import numpy as np

numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [48]:
print(numeros)

[1.  3.5]

In [49]:
numeros + 3

array([4. , 6.5])

# Igualdade

In [50]:
# definimos a função de igualdade __eq__() para verificar a presença de objetos idênticos dentro da classe
class ContaSalario:
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        return self._codigo == outro._codigo and self._saldo == outro._saldo
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return f"[>> Codigo {self._codigo} Saldo {self._saldo}]"

In [51]:
conta1 = ContaSalario(37)
print(conta1)

[>> Codigo 37 Saldo 0]

In [52]:
conta2 = ContaSalario(37)
print(conta2)

[>> Codigo 37 Saldo 0]

In [53]:
conta1 == conta2

True

In [54]:
contas =  [conta1]
conta1 in contas

True

In [55]:
conta2 in contas

True

In [56]:
conta2 in [conta1]

True

In [57]:
conta1 in [conta2]

True

In [58]:
# os objetos seguem idênticos até o momento em que recebem valores distintos
conta1.deposita(10)

In [59]:
conta1 == conta2

False

In [60]:
class ContaSalario:
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return f"[>> Codigo {self._codigo} Saldo {self._saldo}]"

In [61]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(37)

In [62]:
isinstance(ContaCorrente(34), ContaCorrente)

True

In [63]:
print(idades)

[13, 34, 23, 25, 47, 59, 44, 20, 18, 55, 42, 50]

In [64]:
for i in enumerate(idades):
    print(idades)

[13, 34, 23, 25, 47, 59, 44, 20, 18, 55, 42, 50]
[13, 34, 23, 25, 47, 59, 44, 20, 18, 55, 42, 50]
[13, 34, 23, 25, 47, 59, 44, 20, 18, 55, 42, 50]
[13, 34, 23, 25, 47, 59, 44, 20, 18, 55, 42, 50]
[13, 34, 23, 25, 47, 59, 44, 20, 18, 55, 42, 50]
[13, 34, 23, 25, 47, 59, 44, 20, 18, 55, 42, 50]
[13, 34, 23, 25, 47, 59, 44, 20, 18, 55, 42, 50]
[13, 34, 23, 25, 47, 59, 44, 20, 18, 55, 42, 50]
[13, 34, 23, 25, 47, 59, 44, 20, 18, 55, 42, 50]
[13, 34, 23, 25, 47, 59, 44, 20, 18, 55, 42, 50]
[13, 34, 23, 25, 47, 59, 44, 20, 18, 55, 42, 50]
[13, 34, 23, 25, 47, 59, 44, 20, 18, 55, 42, 50]

In [65]:
enumerate(idades)

In [66]:
type(range(len(idades))) #Lazy...

range

In [67]:
print(enumerate(idades)) #lazy...

<enumerate object at 0x000002383D1F6B00>

In [68]:
list(range(len(idades)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [69]:
# gerando a saída em tuplas, com a função enumerate dentro de uma lista
print(list(enumerate(idades)))

[(0, 13), (1, 34), (2, 23), (3, 25), (4, 47), (5, 59), (6, 44), (7, 20), (8, 18), (9, 55), (10, 42), (11, 50)]

In [70]:
# armazenando o indice e seu respectivo valor em variáveis, e passando em um loop com a função enumerate
for indice, idade in enumerate(idades):
    print(indice, "x", idade)

0 x 13
1 x 34
2 x 23
3 x 25
4 x 47
5 x 59
6 x 44
7 x 20
8 x 18
9 x 55
10 x 42
11 x 50

In [71]:
# criando uma lista de tuplas e gerando sua saída com auxílio do loop for
usuarios = [
    ("Guilherme", 37, 1981),
    ("Daniela", 39, 1987),
    ("Paulo", 39, 1979)
]

for usuario in usuarios:
    print(usuario)

('Guilherme', 37, 1981)
('Daniela', 39, 1987)
('Paulo', 39, 1979)

In [72]:
for nome, idade, nascimento in usuarios:
    print(nome, idade, nascimento) #já desenpacotando

Guilherme 37 1981
Daniela 39 1987
Paulo 39 1979

In [73]:
for nome, _, _ in usuarios:
    print(nome) #já desenpacotando e ignorando outros valores

Guilherme
Daniela
Paulo

In [74]:
idades

[13, 34, 23, 25, 47, 59, 44, 20, 18, 55, 42, 50]

In [75]:
# aplicando a função sorted para ordenar a lista
sorted(idades)

[13, 18, 20, 23, 25, 34, 42, 44, 47, 50, 55, 59]

In [76]:
# colocando na ordem inversa, os indices e seus valores correspondentes, usando a função reversed
list(reversed(idades))

[50, 42, 55, 18, 20, 44, 59, 47, 25, 23, 34, 13]

In [77]:
# ordem inversa com reverse = True passado como parâmetro(considerando os valores)
sorted(idades, reverse = True)

[59, 55, 50, 47, 44, 42, 34, 25, 23, 20, 18, 13]

In [78]:
# outra forma de fazer ordem inversa
list(reversed(sorted(idades)))

[59, 55, 50, 47, 44, 42, 34, 25, 23, 20, 18, 13]

In [79]:
# outra forma de fazer ordem inversa, com a função .sort e reverse = True passado como parâmetro
idades.sort(reverse = True)
print(idades)

[59, 55, 50, 47, 44, 42, 34, 25, 23, 20, 18, 13]

In [80]:
class ContaSalario:
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return f"[>> Codigo {self._codigo} Saldo {self._saldo}<<]"

In [81]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [82]:
for conta in contas:
    print(conta)

[>> Codigo 17 Saldo 500<<]
[>> Codigo 3 Saldo 1000<<]
[>> Codigo 133 Saldo 510<<]

In [83]:
sorted(contas)

TypeError: '<' not supported between instances of 'ContaSalario' and 'ContaSalario'

In [84]:
conta_do_guilherme < conta_da_daniela

TypeError: '<' not supported between instances of 'ContaSalario' and 'ContaSalario'

In [85]:
def extrai_saldo(conta):
    return conta._saldo

for conta in sorted(contas, key = extrai_saldo): #temos o probema de acessar um atributo privado
    print(conta)

[>> Codigo 17 Saldo 500<<]
[>> Codigo 133 Saldo 510<<]
[>> Codigo 3 Saldo 1000<<]

In [86]:
from operator import attrgetter

In [87]:

for conta in sorted(contas, key = attrgetter("_saldo")): #com o attrgetter ainda temos o mesmo problema de acessar um atributo privado
    print(conta)

[>> Codigo 17 Saldo 500<<]
[>> Codigo 133 Saldo 510<<]
[>> Codigo 3 Saldo 1000<<]

In [88]:
class ContaSalario:
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def __lt__(self, outro):
        return self._saldo < outro._saldo
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return f"[>> Codigo {self._codigo} Saldo {self._saldo}<<]"

In [89]:
conta_do_guilherme = ContaSalario(170)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [90]:
conta_do_guilherme < conta_da_daniela

True

In [91]:
conta_do_guilherme > conta_da_daniela

False

In [92]:
for conta in sorted(contas, reverse = True):
    print(conta)

[>> Codigo 3 Saldo 1000<<]
[>> Codigo 170 Saldo 500<<]
[>> Codigo 133 Saldo 500<<]

In [93]:
for conta in sorted(contas, key = attrgetter("_saldo", "_codigo")):
    print(conta)

[>> Codigo 133 Saldo 500<<]
[>> Codigo 170 Saldo 500<<]
[>> Codigo 3 Saldo 1000<<]

In [94]:
from functools import total_ordering

@total_ordering
class ContaSalario:
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def __lt__(self, outro):
        if self._saldo != outro._saldo:
            return self._saldo < outro._saldo
        return self._codigo < outro._codigo
    
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return f"[>> Codigo {self._codigo} Saldo {self._saldo}<<]"

In [95]:
for conta in sorted(contas):
    print(conta)

[>> Codigo 170 Saldo 500<<]
[>> Codigo 133 Saldo 500<<]
[>> Codigo 3 Saldo 1000<<]

In [96]:
conta_do_guilherme <= conta_da_daniela

TypeError: '<=' not supported between instances of 'ContaSalario' and 'ContaSalario'